{% extends 'main/layout.html' %}

{% block title %}{{ caption }}{% endblock %}

{% block content %}
{% include 'main/nav_bar.html' with index=option %}

<div class="content_box">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do<br>
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut<br>
    enim ad minim veniam, quis nostrud exercitation ullamco laboris<br>
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in<br>
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla<br>
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in<br>
    culpa qui officia deserunt mollit anim id est laborum.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus<br>
    imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae<br>
    scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices<br>
    nec congue eget, auctor vitae massa. Fusce luctus vestibulum<br>
    augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum<br>
    dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare<br>
    turpis. Donec vitae dui eget tellus gravida venenatis. Integer<br>
    fringilla congue eros non fermentum. Sed dapibus pulvinar nibh<br>
    tempor porta.</p>

  <p>Cras ac leo purus. Mauris quis diam velit. Donec at enim nec turpis<br>
    feugiat aliquam. Suspendisse potenti. Ut dapibus, mi a cursus<br>
    fermentum, tortor arcu tincidunt purus, id aliquet nisi erat nec<br>
    nulla. Nulla facilisi. Praesent pulvinar quam a ipsum vehicula, ac<br>
    fermentum elit viverra. Integer nec ipsum vestibulum, vehicula<br>
    sapien in, elementum nisl. In at massa tellus.</p>

  <p>Pellentesque habitant morbi tristique senectus et netus et<br>
    malesuada fames ac turpis egestas. Sed tempus tincidunt velit, nec<br>
    tincidunt diam facilisis ut. Nulla facilisi. Integer lacinia sollicitudin<br>
    massa, eu tincidunt risus viverra sed. Vestibulum ante ipsum<br>
    primis in faucibus orci luctus et ultrices posuere cubilia curae;<br>
    Aenean pretium, eros eu efficitur tincidunt, nisi nunc cursus<br>
    sapien, ac scelerisque lorem tortor a purus. Nam scelerisque, urna<br>
    nec tempor dictum, nunc felis ullamcorper nisl, eget tristique<br>
    purus augue nec arcu. Vestibulum ac erat sit amet metus<br>
    commodo pulvinar.</p>

  <p>Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere<br>
    consectetur est at lobortis. Maecenas faucibus mollis interdum.<br>
    Curabitur blandit tempus porttitor. Integer posuere erat a ante<br>
    venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac<br>
    consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies<br>
    vehicula ut id elit.</p>
</div>
{% endblock %}