{% extends 'layout.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<!--{% load static %}-->
    <div class="loc-card">
        <div class="card-body">
            <h5>Posy message - доставка цветов</h5>
            <div class="card-bond">
                <p class="ca-item">Адрес в Екатеринурге: ул. Луначарского, д.214</p>
                <p class="ca-item">Телефон: 8 (343) 226-46-32</p>
                <span class="ca-item"><a href="https://e.mail.ru/compose/?mailto=order@posy.ru?subject=Заказ" target="_blank" class="btn btn-success outer">Заказать по e-mail</a></span>
                <span class="ca-item"><a href="https://t.me/Vegas_Real_AioBot" class="btn btn-success outer">Заказать в Telegram</a></span>
            </div>
        </div>
        <img class="loc-img" src="{% static 'main/img/location.png' %}" alt="карта">
    </div>
{% endblock %}