{% extends 'layout.html' %}

{% block title %}Заказ цветов{% endblock %}

{% block content %}
<!--{% load static %}-->
    <div id="flower-carousel" class="carousel slide">
        {% for item in posies %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="card main">
                    <img src="{% static item.posy_path %}" class="card-img-top" alt="{{ item.posy_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{item.posy_name}}</h5>
                        <p class="card-text">{{item.price}} ₽</p>
                        <a href="{% url 'make_order' item.posy_name %}" class="btn btn-success">Заказать</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#flower-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#flower-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
{% endblock %}